In [43]:
import numpy as np
import pandas as pd

import ast

In [44]:
movies = pd.read_csv("tmdb_5000_movies.csv")

In [45]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [46]:
#selecting only the required columns
movies = movies[['id','title','genres']]

In [47]:
movies.head()

,id,title,genres
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

In [48]:
#checking for null values
movies.isnull().sum()

id        0
title     0
genres    0
dtype: int64

In [49]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [50]:
#extracting the genres from the dictionaries
def extract(obj):
    L= []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [51]:
movies['genres'] = movies['genres'].apply(extract)

In [52]:
movies.iloc[0].genres

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [41]:
unique_genres = set()

for genre_list in movies['genres']:
    if isinstance(genre_list, list):
        unique_genres.update(genre_list)

print(f"Total unique genres: {len(unique_genres)}")
print(unique_genres)

Total unique genres: 20
{'Comedy', 'Animation', 'Documentary', 'Foreign', 'TV Movie', 'Mystery', 'Fantasy', 'Science Fiction', 'Crime', 'War', 'Romance', 'Thriller', 'Adventure', 'Music', 'Western', 'Drama', 'Horror', 'History', 'Family', 'Action'}

In [54]:
#changing from list to string
movies['genres']= movies['genres'].apply(lambda x:" ".join(x))

In [56]:
movies.head()

,id,title,genres
0,19995,Avatar,Action Adventure Fantasy Science Fiction
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action
2,206647,Spectre,Action Adventure Crime
3,49026,The Dark Knight Rises,Action Crime Drama Thriller
4,49529,John Carter,Action Adventure Science Fiction

In [57]:
import pickle

In [59]:
#dump movies dataframe to pickle file
pickle.dump(movies.to_dict(), open('movies_dict.pkl','wb'))